# Virtual environment
.venv/

# Environment variables / secrets
.env
# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Spark local output
spark-warehouse/

# OS files
.DS_Store
Thumbs.db